<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<div class="sidebar-wrapper active" th:fragment="sidebar">
    <div class="sidebar-header">
        <a th:href="@{/admin}">
            <img alt="TruyenGG Logo" srcset="" style="max-height: 40px;" th:src="@{/voler/images/logo.png}">
        </a>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Main Menu</li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="dashboard" th:href="@{/admin/dashboard}">
                    <i data-feather="home" width="20"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="users" th:href="@{/admin/users}">
                    <i data-feather="users" width="20"></i>
                    <span>Quản lý người dùng</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" data-page="stories" th:href="@{/admin/stories}">
                    <i data-feather="book" width="20"></i>
                    <span>Quản lý truyện</span>
                </a>
            </li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="comics" th:href="@{/admin/comics}">
                    <i data-feather="book-open" width="20"></i>
                    <span>Quản lý Comics</span>
                </a>
            </li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="chapters" th:href="@{/admin/chapters}">
                    <i data-feather="list" width="20"></i>
                    <span>Quản lý Chapters</span>
                </a>
            </li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="duplicates" th:href="@{/admin/duplicates}">
                    <i data-feather="copy" width="20"></i>
                    <span>Quản lý Duplicates</span>
                </a>
            </li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="images" th:href="@{/admin/images}">
                    <i data-feather="image" width="20"></i>
                    <span>Quản lý Images</span>
                </a>
            </li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="backup" th:href="@{/admin/backup}">
                    <i data-feather="save" width="20"></i>
                    <span>Backup Truyện</span>
                </a>
            </li>
            <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" href="#">
                    <i data-feather="download-cloud" width="20"></i>
                    <span>Crawl</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a data-page="crawl-manager" th:href="@{/admin/crawl}">Manager</a>
                    </li>
                    <li class="submenu-item">
                        <a data-page="crawl-history" th:href="@{/admin/crawl/history}">History</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item has-sub" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" href="#">
                    <i data-feather="settings" width="20"></i>
                    <span>Setting</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a data-page="cache" th:href="@{/admin/cache}">Cache</a>
                    </li>
                    <li class="submenu-item">
                        <a data-page="setting" th:href="@{/admin/setting}">Config</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
                <a class="sidebar-link" data-page="reports" th:href="@{/admin/reports}">
                    <i data-feather="alert-triangle" width="20"></i>
                    <span>Báo cáo</span>
                </a>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
</html>

