spring:
  main:
    banner-mode: off

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        generate_statistics: false

  thymeleaf:
    cache: false

  flyway:
    enabled: false

jobrunr:
  background-job-server:
    enabled: false
  dashboard:
    enabled: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  endpoints:
    enabled-by-default: false

