<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer_site" th:fragment="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 logo-footer" itemscope itemtype="http://schema.org/Organization">
        <div>
          <a itemprop="url" th:href="@{/}" title="TruyenGG - Đọc truyện tranh, truyện chữ miễn phí online">
            <img alt="TruyenGG - Đọc truyện tranh, truyện chữ miễn phí online" height="40px"
                 itemprop="logo" th:src="@{/voler/images/logo.png}" width="40px"/>
          </a>
        </div>
        <span class="copyright">©2025 TruyenGG</span>
      </div>
      <div class="col-md-9 row text-link">
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="truyenqq"><i class="bi bi-arrow-right-short"></i>
          truyenqq</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="nettruyen"><i class="bi bi-arrow-right-short"></i>
          nettruyen</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="teamlanhlung"><i class="bi bi-arrow-right-short"></i>
          teamlanhlung</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="blogtruyen"><i class="bi bi-arrow-right-short"></i>
          blogtruyen</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="tusachxinh"><i class="bi bi-arrow-right-short"></i>
          tusachxinh</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="vcomycs"><i class="bi bi-arrow-right-short"></i> vcomycs</a>
        </div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="fastscans"><i class="bi bi-arrow-right-short"></i>
          fastscans</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="baotangtruyen"><i class="bi bi-arrow-right-short"></i>
          baotangtruyen</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="toptruyen"><i class="bi bi-arrow-right-short"></i>
          toptruyen</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="cmanga"><i class="bi bi-arrow-right-short"></i>
          cmanga</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="goctruyentranh"><i class="bi bi-arrow-right-short"></i>
          goctruyentranh</a></div>
        <div class="col-md-6 col-lg-3 col-6"><a href="#" title="Liên Hệ"><i class="bi bi-arrow-right-short"></i> Liên Hệ</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
