<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta content="index, follow" name="robots">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=6.0, user-scalable=yes"
          name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="notranslate" name="google">
    <title th:text="${title ?: 'Đọc truyện tranh, truyện chữ online đầy đủ và miễn phí'}">Đọc truyện tranh, truyện chữ
        online đầy đủ và miễn phí</title>
    <meta content="doc truyen tranh, doc truyen chu, manga, manhwa, manhua" name="keyword">
    <meta content="Web đọc truyện tranh, truyện chữ, manga, manhua, manhwa được cập nhật liên tục, nhanh nhất và hoàn toàn miễn phí."
          name="description">
    <meta content="Web đọc truyện tranh, truyện chữ, manga, manhua, manhwa được cập nhật liên tục, nhanh nhất và hoàn toàn miễn phí."
          property="og:description">
    <meta content="Web đọc truyện tranh, truyện chữ, manga, manhua, manhwa được cập nhật liên tục, nhanh nhất và hoàn toàn miễn phí."
          itemprop="description">
    <meta property="og:image" th:content="@{/voler/images/logo.png}">
    <link rel="apple-touch-icon" th:href="@{/voler/images/logo.png}"/>
    <link rel="shortcut icon" th:href="@{/voler/images/favicon.png}" type="image/png"/>
    <link rel="icon" th:href="@{/voler/images/favicon.png}" type="image/png">
    <meta content="Copyright © 2025" name="copyright"/>
    <meta content="TruyenGG" name="Author"/>
    <link rel="stylesheet" th:href="@{/voler/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/voler/css/app.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-lazy@1.7.11/jquery.lazy.min.js"></script>
</head>
<body class="dark-style" th:fragment="header-body">
<div class="toast-container"></div>
<section class="head_site">
    <div class="container">
        <div class="row align-items-center">
            <div class="d-none d-lg-block col-lg-3 box-logo">
                <a th:href="@{/}" title="Đọc truyện chữ miễn phí">
                    <img alt="Logo" class="logo_main" height="40" th:src="@{/voler/images/logo.png}" width="83"/>
                </a>
            </div>
            <div class="col-lg-6 box_search_mobile">
                <div class="box_search_main d-flex">
                    <input class="mr-auto txt_search" id="search_input" placeholder="Tìm kiếm truyện" type="text"/>
                    <button aria-label="Tìm" class="btn_search ml-auto"></button>
                    <div class="show_result_search">
                        <ul class="list_result_search"></ul>
                    </div>
                </div>
            </div>
            <div class="box-login col-lg-3">
                <div class="left-actions">
                        <span class="type_book_switch" id="setting_type_book" onclick="setting_type_book(this);">
                            <i class="bi bi-journal-richtext"></i>
                        </span>
                    <span class="nightmode_switch" id="setting_darkness" onclick="toggleTheme(this);">
                            <i class="bi bi-brightness-high-fill"></i>
                        </span>
                </div>
                <div class="right-actions">
                        <span sec:authorize="!isAuthenticated()">
                            <span><a class="btn_show_reg" href="javascript:popup('register')" rel="nofollow"
                                     title="Đăng Ký">Đăng Ký</a></span>
                            <span class="break-line">|</span>
                            <span><a class="btn_show_log" href="javascript:popup('login')" rel="nofollow"
                                     title="Đăng Nhập">Đăng Nhập</a></span>
                        </span>
                    <span sec:authorize="isAuthenticated()">
                            <span class="notification_span">
                                <a class="icon-notification" href="#"><i class="bi bi-bell"></i></a>
                                <div class="notification">
                                    <h6 class="text_notification">Thông báo</h6>
                                    <div class="list">
                                        <div class="item gg_chibi">
                                            <p>Bạn không có thông báo nào</p>
                                        </div>
                                    </div>
                                    <input data-totalnotification="0" id="id_notification" type="hidden" value="">
                                </div>
                            </span>
                            <span class="profile">
                                <a class="icon-profile" href="#" title="Hồ Sơ"><i class="bi bi-person-circle"></i></a>
                                <ul class="setting">
                                    <li>
                                        <a rel="nofollow" th:href="@{/recharge}">
                                            <i class="bi bi-currency-dollar"></i> 
                                            <span>Nạp xu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" th:href="@{/thiet-lap-tai-khoan}">
                                            <i class="bi bi-person-circle"></i> 
                                            <span>Trang cá nhân</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/theo-doi}">
                                            <i class="bi bi-bookmark-heart-fill"></i> 
                                            <span>Danh sách theo dõi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/lich-su}">
                                            <i class="bi bi-clock-history"></i> 
                                            <span>Lịch sử đọc truyện</span>
                                        </a>
                                    </li>
                                    <li sec:authorize="hasRole('ADMIN')">
                                        <a rel="nofollow" target="_blank" th:href="@{/admin}">
                                            <i class="bi bi-gear-fill"></i> 
                                            <span>Quản trị</span>
                                        </a>
                                    </li>
                                    <li sec:authorize="hasRole('TRANSLATOR')">
                                        <a rel="nofollow" target="_blank" th:href="@{/translator/stories}">
                                            <i class="bi bi-upload"></i> 
                                            <span>Up truyện</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:logout()" rel="nofollow">
                                            <i class="bi bi-sign-turn-slight-right"></i> 
                                            <span>Đăng xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </span>
                        </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="menu_main_pc">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-lg-none" th:href="@{/}" title="Read Light Novel English online for free">
                    <img alt="Logo" class="logo_main" height="40" th:src="@{/voler/images/logo.png}" width="83"/>
                </a>
                <button aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"
                        data-target="#main_nav" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav left_menu">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}" title="Home">Trang Chủ</a></li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                               data-toggle="dropdown" href="#"
                               id="navbarDropdown" role="button" title="Categories">Thể Loại</a>
                            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-full"
                                id="categories-menu">
                                <!-- Categories will be loaded via JavaScript -->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                               data-toggle="dropdown" href="#"
                               id="rankingDropdown" role="button" title="Ranking">Xếp Hạng</a>
                            <ul aria-labelledby="rankingDropdown" class="dropdown-menu dropdown-full">
                                <li><a class="dropdown-item" th:href="@{/top-ngay}" title="Top Ngày">Top Ngày</a></li>
                                <li><a class="dropdown-item" th:href="@{/top-tuan}" title="Top Tuần">Top Tuần</a></li>
                                <li><a class="dropdown-item" th:href="@{/top-thang}" title="Top Tháng">Top Tháng</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/sap-ra-mat}" title="Sắp Ra Mắt">Sắp Ra Mắt</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/truyen-moi-cap-nhat}" title="Mới Cập Nhật">Mới
                                    Cập Nhật</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/truyen-moi}" title="Truyện Mới">Truyện Mới</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/truyen-hoan-thanh}" title="Truyện Full">Truyện
                                    Full</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/tim-kiem-nang-cao}" title="Tìm Kiếm">Tìm
                            Kiếm</a></li>
                        <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/lich-su}"
                                                                                  title="Lịch Sử">Lịch Sử</a></li>
                        <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link"
                                                                                  th:href="@{/theo-doi}"
                                                                                  title="Theo Dõi">Theo Dõi</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:setting_type_book(this)"
                                                rel="nofollow"
                                                title="Truyện Chữ">Truyện Chữ</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/tophvn" rel="nofollow"
                                                target="_blank" title="Fanpage">Fanpage</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/tophvn" rel="nofollow"
                                                target="_blank" title="Thảo Luận">Thảo Luận</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/tophvn" rel="nofollow"
                                                target="_blank" title="Discord">Discord</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="shadow_bg" id="popupContainer">
    <div class="box_content_reg">
        <div class="close" onclick="reset();">
            <svg class="bi bi-x-lg" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </div>
        <div class="show_login">
            <div class="text-center mb-4">
                <a class="tab_login active" href="javascript:void(0);">Đăng Nhập</a> |
                <a class="tab_reg" href="javascript:void(0);">Đăng Ký</a>
            </div>
            <form id="loginFormUnique" method="POST">
                <div class="mb-3">
                    <input class="txt_cm" id="email_login" name="email" placeholder="Email" required type="text">
                </div>
                <div class="mb-3">
                    <input class="txt_cm" id="password_login" name="password" placeholder="Mật Khẩu" required
                           type="password">
                </div>
                <div class="mb-4">
                    <button class="btn_login button_login" type="submit">Đăng Nhập</button>
                </div>
                <a class="google-btn" href="#" id="google-login-btn">
                    <i data-feather="chrome"></i>
                    <span>Đăng nhập bằng Google</span>
                </a>
            </form>
            <div class="text-center">
                <a class="forgot_pass" href="javascript:void(0);">Quên mật khẩu</a>
            </div>
        </div>
        <div class="show_reg">
            <div class="text-center mb-4">
                <a class="tab_login" href="javascript:void(0);">Đăng Nhập</a> |
                <a class="tab_reg active" href="javascript:void(0);">Đăng Ký</a>
            </div>
            <form id="registerForm" method="POST">
                <div class="mb-3">
                    <input class="txt_cm" id="email_register" name="email" placeholder="Email" required type="email">
                </div>
                <div class="mb-3">
                    <input class="txt_cm" id="password_register" name="password" placeholder="Mật Khẩu" required
                           type="password">
                </div>
                <div class="mb-4">
                    <button class="btn_login" type="submit">Đăng Ký</button>
                </div>
            </form>
            <div class="text-center mt-3" id="register_message"></div>
        </div>
        <div class="show_pass">
            <div class="text-center fs20 clred mb-3"><strong>Quên mật khẩu</strong></div>
            <form id="forgotForm" method="POST">
                <div class="mb-3">
                    <input class="txt_cm" id="email_forgot" name="email" placeholder="Email" required type="email">
                </div>
                <div class="mb-4">
                    <button class="btn_login button_forgot" type="submit">Gửi</button>
                </div>
            </form>
            <div class="text-center">
                <a class="tab_login fs14" href="javascript:void(0);">Đăng Nhập</a> |
                <a class="tab_reg fs14" href="javascript:void(0);">Đăng Ký</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/api.js}"></script>
<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/search.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>
